<!DOCTYPE html>
<html>
<head>
		<title>{{ ctf_name() }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/css/vendor/bootstrap.min.css">
		<link rel="stylesheet" href="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/css/vendor/font-awesome/css/font-awesome.min.css" />
		<link href='{{ request.script_root }}/themes/{{ ctf_theme() }}/static/css/vendor/lato.css' rel='stylesheet' type='text/css'>
		<link href='{{ request.script_root }}/themes/{{ ctf_theme() }}/static/css/vendor/raleway.css' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/css/style.css">
		<link rel="stylesheet" href="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/css/fortnight.css">
		<link rel="stylesheet" type="text/css" href="{{ request.script_root }}/static/user.css">
		{% block stylesheets %}{% endblock %}
		<script src="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/js/vendor/moment.min.js"></script>
		<script src="{{ request.script_root }}/themes/original/static/js/vendor/handlebars.min.js"></script>
		<script type="text/javascript">
				var script_root = "{{ request.script_root }}";
		</script>
</head>
<body>
	<div class="ornaments">
		<div class="ornament-logo show-for-medium">
			<a data-scroll="" href="/"><img src="/themes/original/static/img/big-r.png" alt="logo"></a>
		</div>
		<div class="ornament-squares-upper animated">
			<img src="/themes/original/static/img/ornament-squares.png" alt="ornament-squares">
		</div>
		<div class="ornament-cloth-upper show-for-medium">
			<img src="/themes/original/static/img/ornament-cloth.png" alt="ornament-cloth">
		</div>
		<div class="ornament-squares-bottom">
			<img src="/themes/original/static/img/ornament-squares.png" alt="ornament-squares">
		</div>
		<div class="ornament-cloth-lower show-for-medium">
			<img src="/themes/original/static/img/ornament-cloth.png" alt="ornament-cloth">
		</div>
	</div>

	<div class="body-container">
		<div class="navbar navbar-inverse home">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="{{ request.script_root }}/" class="navbar-brand">{{ ctf_name() }}</a>
				</div>
				<div class="navbar-collapse collapse" aria-expanded="false" style="height: 0px">
					<ul class="nav navbar-nav">
						{% for page in pages() %}
							<li><a href="{{ request.script_root }}/{{ page.route }}">{{ page.route|title }}</a></li>
						{% endfor %}
						{% if not hide_scores() %}
						<li><a href="{{ request.script_root }}/scoreboard">Scoreboard</a></li>
						{% endif %}
						<li><a href="{{ request.script_root }}/contests">Contests</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
					{% if username is defined %}
						{% if admin %}
						<li><a href="{{ request.script_root }}/admin">Admin</a></li>
						{% endif %}
						<li><a href="{{ request.script_root }}/team/{{ id }}">You</a></li>
						<li><a href="{{ request.script_root }}/profile">Profile</a></li>
						<li><a href="{{ request.script_root }}/logout">Logout</a></li>
					{% else %}
						{% if can_register() %}
						<li><a href="{{ request.script_root }}/register">Register</a></li>
						<li><a style="padding-left:0px;padding-right:0px;">|</a></li>
						{% endif %}
						<li><a href="{{ request.script_root }}/login">Login</a></li>
					{% endif %}
					</ul>
				</div>
			</div>
		</div>

		{% block content %}
		{% endblock %}

			<div class="navbar navbar-bottom footer">
			<div class="ristek">
				<img src="/themes/original/static/img/footer_ristek.png" alt="ristek">
			</div>
			<div class="powered">
				<a style="text-decoration:none;" href="https://github.com/netsos-csui/CTFn">Powered by CTFn</a>
				<br>
				<p>Brought to you by Network Security and Operating System <b>/ NetSOS /</b> SIG</p>
			</div>
		</div>
	</div>
	<script src="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/js/vendor/jquery.min.js"></script>
	<script src="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/js/vendor/marked.min.js"></script>
	<script src="{{ request.script_root }}/themes/{{ ctf_theme() }}/static/js/vendor/bootstrap.min.js"></script>
	{% block scripts %}
	{% endblock %}

	{% for script in get_registered_scripts() %}
	<script src="{% if script.startswith('http')%}{{ request.script_root }}{% endif %}{{ script }}"></script>
	{% endfor %}
</body>
</html>
